.rise-enabled .reveal .slides
 {
    font-size: 15px;

    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    font-family: "Ricty", monospace;
 }

/* Character of color relationships */
 .rise-enabled .reveal .slides :-webkit-any(h1, h2, h3, h4, h5, h6, p, li),
 .rise-enabled .reveal .slides div.output_subarea>pre
 {
    color: white;
 }



/* Links Highlights */
 .rise-enabled .reveal .slides a
 {
    color: red;
 }



/* Slide background color */
 .rise-enabled .reveal
 {
    background-color: lightpink;

    /* element-overrides */
 }



/* In [] Color */
 .rise-enabled .reveal .slides div.prompt.input_prompt
 {
    color: white;
 }



/* Code background surface color font size */
 .rise-enabled .reveal .slides code
 {
    background-color: transparent;

    color: white;

    font-size: 25px;
 }